<div class="page-header">
    <h1>Pokemones</h1>
</div>
<div class="row">
    <div Class="col-md-3" *ngFor="let pokemon of pokemones" >
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-body">
              <a [routerLink]="['/pokemon',pokemon.id]"><img class="img-responsive" src="../../../assets/img/{{pokemon.imagen}}"></a> 
          </div>
          <div class="card-header white-color text-center">{{pokemon.nombre}}</div>
        </div>
    </div>
</div>