<div class="page-header">
  <h1>Pokemones</h1>
</div>
<div class="alert alert-dismissible alert-warning" *ngIf="pokemon.length == 0">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Ups!</h4>
  <p class="mb-0">No se encontraron pokemones :(</p>
</div>
<div class="row">
  <div Class="col-md-3" *ngFor="let pokemon of pokemon" >
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <a [routerLink]="['/pokemon',pokemon.id]"><img class="img-responsive" src="../../../assets/img/{{pokemon.imagen}}"></a> 
        </div>
        <div class="card-header white-color text-center">{{pokemon.nombre}}</div>
      </div>
  </div>
</div>